body {
  background:"images/background.jpg"
  background-size: 102.5%;
  background-repeat: no-repeat;
  position: relative;
}
h1,
h2,.container-fluid {
  max-width: 600px;
  border-style: solid;
  border-width: 3px;
  border-color: hsl(267, 41%, 58%, 0.5);
  border-radius: 5px;
  background: hsl(266, 34%, 82%, 0.5);
  padding: 12px;
  margin-top: 10px;
  text-align: center;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}
h1 {
  margin-right: 640px;
}
h2 {
  margin-left: 640px;
}
.forecast {
  max-width: 600px;
  border-style: solid;
  border-width: 3px;
  border-color: hsl(267, 41%, 58%, 0.5);
  border-radius: 5px;
  background: hsla(0, 0%, 95%, 0.5);
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 2.5;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
.temp {
  margin-left: 70px;
}
.units {
  font-size: 14px;
  top: -6px;
  position: relative;
}
input,
.current-button {
  max-width: 600px;
  background: hsla(0, 0%, 95%, 0.5);
  border-style: solid;
  border-width: 3px;
  border-color: hsl(267, 41%, 58%, 0.5);
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  padding-left: 40px;
  padding-right: 40px;
}
.current-button {
  max-width: 600px;
  margin-top: 12px;
}
#currentLocation {
  border-style: solid;
  border-width: 3px;
  border-color: hsl(267, 41%, 58%, 0.5);
  border-radius: 5px;
  background: hsl(266, 34%, 82%, 0.5);
  padding: 12px;
  margin-top: 30px;
  text-align: center;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
h5 {
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}
.first,
.previous {
  max-width: 600px;
  font-size: 20px;
  margin-top: 30px;
  float: right;
  border-radius: 5px;
}
.firstInfo,
.prevInfo {
  list-style: none;
}
.code-url,
.code-link {
  max-width: 600px;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  color: hsl(267, 41%, 58%, 0.5);
}
.code-link {
  color: aqua;
}
