body {
  background-size: 102.5%;
  background-repeat: no-repeat;
  position: relative;
}
h1,
h2 {
  border: 3px solid;
  border-color: hsl(267, 41%, 58%, 0.5);
  border-radius: 5px;
  background: hsl(266, 34%, 82%, 0.5);
  padding: 12px;
  text-align: center;
  text-transform: capitalize;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}
h1,
h2,
.forecast {
  margin-top: 10px;
  margin-left: -100px;
}
.firstbox,
.previous {
  font-size: 20px;
  border: 2px solid;
  border-color: hsl(267, 41%, 58%, 0.5);
  border-radius: 5px;
}
.firstbox {
  padding: 12px;
  margin-top: 90px;
  margin-left: 70px;
  margin-right: 200px;
}
#description {
  font-style: italic;
}
li:first-letter {
  text-transform: capitalize;
}
.active {
  color: black;
  text-decoration: none;
}
.active:hover {
  text-decoration: none;
  color: hsl(267, 41%, 58%, 0.5);
}
#icon {
  margin-left: 100px;
  margin-top: -60px;
  margin-bottom: -100px;
}
#temp {
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  color: black;
}
.units {
  font-size: 14px;
}
.firstdescription,
.prevInfo {
  list-style: none;
}
.firstdescription {
  font-size: 16px;
  padding-top: 40px;
}
#firstcels,
#firstfahr {
  font-size: 18px;
}
.forecast {
  border-style: solid;
  border-width: 3px;
  border-color: hsl(267, 41%, 58%, 0.5);
  border-radius: 5px;
  background: hsla(0, 0%, 95%, 0.5);
  padding: 16px, 40px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 2.5;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
h5 {
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}

.previous {
  float: right;
  padding: 16px;
}
.search:hover {
  background: hsl(267, 41%, 58%, 0.5);
}
input {
  background: hsla(0, 0%, 95%, 0.5);
  border-style: solid;
  border-width: 3px;
  border-color: hsl(267, 41%, 58%, 0.5);
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  padding-left: 40px;
  padding-right: 40px;
}
form {
  margin-top: 16px;
  margin-left: 200px;
}
button:hover {
  background: hsl(267, 41%, 58%, 0.5);
}
.current-button {
  background: hsla(0, 0%, 95%, 0.5);
  border-style: solid;
  border-width: 3px;
  border-color: hsl(267, 41%, 58%, 0.5);
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  padding: 8px;
  margin-top: 20px;
  margin-left: 200px;
}
#currentLocation {
  border-style: solid;
  border-width: 3px;
  border-color: hsl(267, 41%, 58%, 0.5);
  border-radius: 5px;
  background: hsl(266, 34%, 82%, 0.5);
  padding: 12px;
  float: right;
  margin-top: 14px;
  margin-left: 300px;
  margin-right: 100px;
  text-align: center;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
.code-url,
.code-link {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: rgba(6, 0, 12);
  margin-left: 40px;
}
.code-link {
  color: rgb(186, 235, 235);
}
