body {
  background-size: 102.5%;
  background-repeat: no-repeat center fixed;
}
h1 {
  border: 3px solid;
  border-color: #45585f;
  border-radius: 5px;
  background: hsl(183, 9%, 70%);
  padding: 12px;
  text-align: center;
  text-transform: capitalize;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}
h1,
.forecast {
  margin-top: 10px;
  margin-right: 75px;
}
.forecast {
  border-style: solid;
  border-width: 3px;
  border-color: #45585f;
  border-radius: 5px;
  background: hsla(0, 0%, 75%, 0.5);
  margin-bottom: 10px;
  padding: none;
  text-align: center;
  line-height: 2.5;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
.firstbox {
  font-size: 20px;
  border: 5px solid;
  border-color: #91a5a3;
  border-radius: 5px;
  padding: 12px;
  margin-top: 90px;
  margin-left: 150px;
  margin-right: 100px;
}
li:first-letter {
  text-transform: capitalize;
}
.active {
  color: black;
  text-decoration: none;
}
.active:hover {
  text-decoration: none;
  color: #91a5a3;
}
#descripton {
  font-weight: bold;
}
#icon {
  margin-left: 100px;
  margin-top: -60px;
  margin-bottom: -100px;
}
#temp {
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  color: black;
}
.units {
  font-size: 14px;
  padding-left: 5px;
  display: inline;
}
.firstdescription {
  list-style: none;
  font-size: 16px;
  padding-top: 25px;
}
#firstcels,
#firstfahr {
  font-size: 18px;
}
h5 {
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}
.search:hover {
  background: #91a5a3;
}
input {
  background: hsla(0, 0%, 95%, 0.5);
  border-style: solid;
  border-width: 3px;
  border-color: #91a5a3;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  padding-left: 40px;
  padding-right: 40px;
}
form {
  margin-top: 16px;
  margin-left: 152px;
}
#currentButton:hover {
  background: #91a5a3;
}
#currentButton {
  background: hsla(0, 0%, 95%, 0.5);
  border-style: solid;
  border-width: 3px;
  border-color: #91a5a3;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  padding: 5px;
  margin-top: 15px;
  float: right;
  margin-right: -37px;
}
#currentLocation {
  border-style: solid;
  border-width: 3px;
  border-color: #91a5a3;
  border-radius: 5px;
  background: hsla(0, 0%, 75%, 0.5);
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  padding: 12px;
  margin-top: 75px;
  max-height: 500px;
  text-align: center;
}
.code-url,
.code-link {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: rgba(6, 0, 12);
  margin-left: 40px;
}
.code-link {
  color: rgb(186, 235, 235);
}
